@use '../../../css/queries' as *;
@use '../../../css/vars' as *;

.menuBars {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.navClicked {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.menuIcon {
  background-color: var(--dark-primary);
  height: 100%;
  cursor: pointer;
  padding: 1.25rem;
  margin: 2rem;
  z-index: 100;

  @include small-break {
    display: none;
  }

  &:focus-visible {
    outline-offset: 0;
  }
}