@use '../../../../app/(app)/css/queries' as *;
@use '../../../../app/(app)/css/vars' as *;

.questionContainer {
  padding: 1.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--dark-primary);
  background-color: var(--light-primary);

  @include med-small-break{
    padding: 0.75rem;
  }
}

.arrowUp {
  transform: rotate(180deg);
  transition: all 250ms;
}

.arrowDown {
  transform: rotate(0deg);
  transition: all 250ms;
}

.answerContainerClicked {
  padding: 1.25rem 0.75rem;
  @include med-small-break{
    padding: 0.75rem;
  }
}

.answerContainer {
  //bg-light-blue flex items-center
  display: flex;
  align-items: center;
  background-color: var(--light-secondary);
}
