@use '../../../css/queries' as *;
@use '../../../css/vars' as *;

// RECENT

.card {
  flex: 0 1 auto;
  overflow: hidden;
  background-color: var(--light-primary);
  @include rounded;
  @include med-small-break {
    flex: 0 1 calc(50% - 1rem)
  }
  @include mid-break {
    flex: 0 1 calc(33% - 1rem)
  }
  @include large-break {
    flex: 0 1 calc(25% - 1rem)
  }
}
.cardImage {

}
.cardBody {

  padding: 1rem;
}
.cardTitle {
  font-size: 1.1rem;
}
.cardDate {
  font-size: 1rem;
  color: var(--dark-primary-70);
}
