@use '../../../css/queries' as *;
@use '../../../css/vars' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: clamp(1rem, 2.5vw, 1.25rem);
  row-gap: 3rem;
}

.reverse {
  @include med-small-break {
    *:first-child {
      order: 1;
    }
    *:nth-child(2) {
      order: -1;
    }
  }
}