@use '../../css/queries' as *;
@use '../../css/vars' as *;

.tocContainer {
  display: flex;
  flex: 1 0 100%;
  padding: 2rem;
  background-color: var(--light-primary);
  max-width: 48rem;
  margin: 0 auto;
  @include shadow-sm;
  @include rounded;
}

.linkContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}

.link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.linkText {
  text-decoration: none;
}