@use '../../../app/(app)/css/queries' as *;
@use '../../../app/(app)/css/vars' as *;

.sponsoredContainer {
  background-color: var(--light-primary);
  padding: 2.5rem 2rem 1.5rem;

  @include rounded;
  @include shadow-sm;

}

.linkContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-primary);
}

.link {
  display: flex;
  gap: 0.5rem;
}

.sponsored {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--dark-primary-70);
}
