@use '../../../app/(app)/css/queries' as *;
@use '../../../app/(app)/css/vars' as vars;

.background {
  background-color: var(--dark-primary);
  .header * {
    color: var(--light-primary);
  }
}

.addedPadding {
  padding: 1.5rem;
}

.header, .bodyText p, .bodyText a {
  color: var(--light-primary);
}
