@use '../../../app/(app)/css/queries' as *;
@use '../../../app/(app)/css/vars' as *;

.painPointContainer {
  grid-column: span 12;

  @include med-small-break{
    grid-column: span 6;
  }

  @include large-break {
    grid-column: span 4;
  }
}

.imageContainer {
  @include rounded;
  overflow: auto;
}

.contentContainer {
  color: var(--dark-primary);
  padding: 1rem;
  width: 85%;
  margin: -4rem auto 0;
  position: relative;
  z-index: 100;
  @include blur-bg(var(--light-primary-70), 2rem);
  @include shadow-m;
  @include rounded;
}
